<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="srticles__main">
    <app-big-card photoCover="./assets/img/camaleao.jpg" cardTitle="Camaleão" cardDescription="Desenho realizado com mesa digital no App MediBang Paint Pro."></app-big-card>
  </div>
  <div class="srticles__others">
    <app-small-card cardTitle="Alfafa" photoCover="./assets/img/Alfafa.jpg"></app-small-card>
    <app-small-card cardTitle="Pato" photoCover="./assets/img/pato.png"></app-small-card>
    <app-small-card cardTitle="Porquinho da India" photoCover="./assets/img/porquinho-da-india.png"></app-small-card>
  </div>

</div>