<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="srticles__main">
    <app-big-card Id="1" photoCover="./assets/img/camaleao.jpg" cardTitle="Camaleão" cardDescription="Desenho realizado com mesa digital no App MediBang Paint Pro."></app-big-card>
  </div>
  <div class="srticles__others">
    <app-small-card Id="2" cardTitle="Coelho Chernobil" photoCover="./assets/img/Alfafa.jpg"></app-small-card>
    <app-small-card Id="3" cardTitle="Pato" photoCover="./assets/img/pato.png"></app-small-card>
    <app-small-card Id="4" cardTitle="Porquinho da India" photoCover="./assets/img/porquinho-da-india.png"></app-small-card>

  </div>

</div>